<head>
  <title>SSN Feed</title>
</head>
<div data-role="page">
  <div data-theme="b" data-role="header" data-nobackbtn="true">
    <h3>SSN</h3>
    <a href="needs.html.erb" class="ui-btn-right" data-icon="grid" data-theme="b" style="margin-right:90px;">Needs</a>
    <a href="needs2.html.erb" class="ui-btn-right" data-icon="grid" data-theme="b">Needs2</a>
  </div>
  <div data-role="content" class="feed-container">
    <div class="feed-post feed-item feed-post-content">
      <div data-role="fieldcontain" class="feed-post-fieldcontain">
        <fieldset data-role="controlgroup" class="feed-post-fieldset">
          <textarea id="feedPost" placeholder="Type feed entry here"></textarea>
        </fieldset>
      </div>
      <a href="" data-role="button" data-theme="b">Post</a>
    </div>
    <% unless @posts.nil? %>
        <% @posts.each do |post| %>
            <div class="first-feed-item feed-item">
              <a class="feed-top" href="jamesProfile.html.erb">
                <img src="<%= post.user.profile_pic %>" class="feed-user-image">

                <div class="feed-heading">
                  <h2 class="feed-name">
                    <% if post.user.name %>
                        <%= post.user.name %>
                    <% else %>
                        Anonymous
                    <% end %>
                  </h2>

                  <p class="feed-time">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
                </div>
              </a>

              <div>
                <p class="feed-text">
                  <%= post.text %>
                </p>
              </div>
            </div>
        <% end %>
    <% else %>
        No posts yet.
    <% end %>
  </div>
</div>
