---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=37.410537,-122.05988&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"South Akron Road\",\n               \"short_name\"
        : \"S Akron Rd\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Mountain View\",\n               \"short_name\"
        : \"Mountain View\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Santa Clara\",\n
        \              \"short_name\" : \"Santa Clara\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"California\",\n               \"short_name\"
        : \"CA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"94043\",\n               \"short_name\" : \"94043\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"South Akron Road, Mountain View, CA 94043, USA\",\n         \"geometry\"
        : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 37.41096270,\n                  \"lng\" : -122.0590210\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 37.41051290,\n
        \                 \"lng\" : -122.0603950\n               }\n            },\n
        \           \"location\" : {\n               \"lat\" : 37.41073780,\n               \"lng\"
        : -122.0597080\n            },\n            \"location_type\" : \"APPROXIMATE\",\n
        \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 37.41208678029150,\n                  \"lng\" : -122.0583590197085\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 37.40938881970850,\n
        \                 \"lng\" : -122.0610569802915\n               }\n            }\n
        \        },\n         \"types\" : [ \"route\" ]\n      },\n      {\n         \"address_components\"
        : [\n            {\n               \"long[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=South%20Akron%20Road,%20Mountain%20View,%20CA%2094043,%20USA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
       [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Mc%20Cord%20Avenue,%20Mountain%20View,%20CA%2094043,%20USA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [[...]
[...]
