---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Moffett%20Field,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Moffett Federal Airfield
        - NUQ\",\n               \"short_name\" : \"Moffett Federal Airfield - NUQ\",\n
        \              \"types\" : [ \"establishment\" ]\n            },\n            {\n
        \              \"long_name\" : \"158\",\n               \"short_name\" : \"158\",\n
        \              \"types\" : [ \"street_number\" ]\n            },\n            {\n
        \              \"long_name\" : \"Cody Road\",\n               \"short_name\"
        : \"Cody Rd\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Mountain View\",\n               \"short_name\"
        : \"Mountain View\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Santa Clara\",\n
        \              \"short_name\" : \"Santa Clara\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"California\",\n               \"short_name\"
        : \"CA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"94035\",\n               \"short_name\" : \"94035\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Moffett Federal Airfield - NUQ, 158 Cody Road, Mountain View, CA 94035,
        USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 37.42982240,\n                  \"lng\" :
        -122.03758690\n               },\n               \"southwest\" : {\n                  \"lat\"
        : 37.40195780,\n                  \"lng\" : -122.05899950\n               }\n
        \           },\n            \"location\" : {\n               \"lat\" : 37.40908040,\n
        \              \"lng\" : -122.0519360\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 37.42982240,\n                  \"lng\" :
        -122.03758690\n               },\n               \"southwest\" : {\n                  \"lat\"
        : 37.40195780,\n                  \"lng\" : -122.05899950\n               }\n
        \           }\n         },\n         \"types\" : [ \"airport\", \"transit_station\",
        \"establishment\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Tue, 26 Mar 2013 03:25:54 GMT
recorded_with: VCR 2.2.5
