<%= content_for :header do %>
  <h2>Palo Alto SSN - Signup Complete</h2>
<% end %>
<%= content_for :content do %>
  <p>Thank you for creating a Palo Alto SSN account! Your information has been synched and are now ready to participate in SSN.</p>
  <%= link_to "Go to Palo Alto SSN", :root, target: "_blank" %>
<% end %>
