<%= content_for :content do %>
  <div class="center">
    <%= image_tag("sample_neighborhood_logo.png", :class => "logo-small") %>
    <h3>City of Palo Alto SSN :: Cool City Neighborhood</h3>
  </div>
  <hr class="width-85" />
  <div class="center width-85">
    <p>Thank you for creating a Palo Alto SSN account! Your information has been synched and are now ready to participate in SSN.</p><br/>
    <%= link_to "Go to SSN", :root, target: "_self", :data => { :role => 'button', :icon => 'arrow-r', :iconpos => 'right', :theme => 'b' } %>
  </div>
  <script type="text/javascript">
      ssn_hide_header();
  </script>
<% end %>
