<%= content_for :header do %>
  <h2>Palo Alto SSN - Signup Complete</h2>
<% end %>
<%= content_for :content do %>
  <p>Thank you for creating an SSN account! You are now ready to participate in SSN.</p>
<% end %>
