<!DOCTYPE html>
<html>
    <head>
    <title>SSN Profile</title>
	<link rel="stylesheet" href="SSN.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
    <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head>
<div data-role="page">
    <div data-theme="b" data-role="header">
        <h3>SSN</h3>
		<a href="edit.html" class="ui-btn-right" data-icon="edit" data-theme="b">Edit</a>
    </div>
    <div data-role="content" class="feed-container">
		<div class="feed-item feed-post feed-post-content">
			<img src="images/james.jpg">
			<div class="feed-heading">
				<h2 class="feed-name">James Ricks</h2>
				<p class="feed-time">Last post 35 minutes ago</p>
				<div class="">
					<div class="profile-info">
						<p>Status:&nbsp;&nbsp;&nbsp;&nbsp;Safe and sound at home with my family.</p>						
						<p> Phone:&nbsp;&nbsp;&nbsp;&nbsp;(719) 335-0257</p>
						<p>Address:&nbsp;18795 Green Pastures Dr.
						<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Colorado Springs, CO 80915</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="feed-post feed-item feed-post-content"> 
				<div data-role="fieldcontain" class="feed-post-fieldcontain">
					<fieldset data-role="controlgroup" class="feed-post-fieldset">
						<textarea id="feedPost" placeholder="Type feed entry here"></textarea>
					</fieldset>
				</div>
				<a href="main.html" data-role="button" data-theme="b">Post</a>
			</div>	
			<div class="first-feed-item last-feed-item feed-item"> 
				<a class="feed-top" href="jamesProfile.html.erb">
					<img src="images/james.jpg" class="feed-user-image">
					<div class="feed-heading">
						<h2 class="feed-name">James Ricks</h2>
						<p class="feed-time">Posted 35 minutes ago</p>
					</div>
				</a>
				<div>
					<p class="feed-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>			
			</div>
		</div>
    </div>
</div>