<!DOCTYPE html>
<html>
    <head>
    <title>SSN</title>
	<link rel="stylesheet" href="SSN.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
    <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head>
<div data-role="page">
    <div data-theme="b" data-role="header">
        <h3>SSN</h3>
		<a href="edit.html" class="ui-btn-right" data-icon="edit" data-theme="b">Edit</a>
    </div>
    <div data-role="content">
		<h1>James Profile</h1>
		<img src="images/james.jpg">
    </div>
</div>