<div id="fb-root"></div>
<script>

    window.fbAsyncInit = function () {
        var logIn = function () {
            $(function () {
                $("#login").click();
            });
        };

        var onStatusChange = function (response) {
            if (response.status === 'connected') {
                logIn();

            } else if (response.status === 'not_authorized') {
                // not_authorized
            } else {
                // not_logged_in
                alert("not logged in");
            }
        };
        // init the FB JS SDK
        FB.init({
            appId:'287810881345472', // App ID from the App Dashboard
            channelUrl:'//localhost:3000/channel.html', // Channel File for x-domain communication
            status:true, // check the login status upon init?
            cookie:true, // set sessions cookies to allow your server to access the session?
            xfbml:true  // parse XFBML tags on this page?
        });

        // Additional initialization code such as adding Event Listeners goes here
        FB.getLoginStatus(function (response) {
            onStatusChange(response);
        });

        FB.Event.subscribe('auth.authResponseChange', function (response) {
            onStatusChange(response);
        });

    };

    // Load the SDK's source Asynchronously
    // Note that the debug version is being actively developed and might
    // contain some type checks that are overly strict.
    // Please report such bugs using the bugs tool.
    (function (d, debug) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
    }(document, /*debug*/ false));


</script>
<head>
  <title>SSN</title>
</head>
<div data-role="page">
  <div data-theme="b" data-role="header">
    <h3>
      SSN
    </h3>
  </div>
  <div data-role="content">
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
        <label for="username">
          Username
        </label>
        <input name="" id="username" placeholder="" value="" type="text">
      </fieldset>
    </div>
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
        <label for="password">
          Password
        </label>
        <input name="" id="password" placeholder="" value="" type="password">
      </fieldset>
    </div>
    <a href="main" data-role="button" data-theme="b" id="login">Login</a>

    <div class="fb-login-button" data-show-faces="false" data-width="500" data-max-rows="1"></div>
  </div>
</div>
