<head>
  <title>SSN</title>
</head>
<div data-role="page">
  <div data-theme="b" data-role="header">
    <h3>
      SSN
    </h3>
  </div>
  <div data-role="content">
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
        <label for="username">
          Username
        </label>
        <input name="" id="username" placeholder="" value="" type="text">
      </fieldset>
    </div>
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
        <label for="password">
          Password
        </label>
        <input name="" id="password" placeholder="" value="" type="password">
      </fieldset>
    </div>
    <a href="main.html.erb" data-role="button" data-theme="b">Login</a>
  </div>
</div>