<!DOCTYPE html>
<html>
    <head>
    <title>SSN</title>
</head>
<div data-role="page" >
    <div data-theme="b" data-role="header" data-nobackbtn="true">
        <h3>SSN</h3>
		<a href="needs.html.erb" class="ui-btn-right" data-icon="grid" data-theme="b"style="margin-right:90px;">Needs</a>
		<a href="needs2.html.erb" class="ui-btn-right" data-icon="grid" data-theme="b">Needs2</a>
    </div>
    <div data-role="content" class="feed-container">
		<div class="first-feed-item feed-item"> 
			<a class="feed-top" href="jamesProfile.html.erb">
				<img src="assets/James.jpg" class="feed-user-image">
				<div class="feed-heading">
					<h2 class="feed-name">James Ricks</h2>
					<p class="feed-time">Posted 35 minutes ago</p>
				</div>
			</a>
			<div>
				<p class="feed-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>			
		</div>
		<div class="feed-item"> 
			<a class="feed-top" href="jamesProfile.html.erb">
				<img src="assets/Victor.jpg" class="feed-user-image">
				<div class="feed-heading">
					<h2 class="feed-name">Victor Marmol</h2>
					<p class="feed-time">Posted 1 hour ago</p>
				</div>
			</a>
			<div>
				<p class="feed-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<img src="assets/HouseOnFire.jpg" class="feed-image" />
		</div>
		<div class="feed-item"> 
			<a class="feed-top" href="jamesProfile.html.erb">
				<img src="assets/Bob.jpg" class="feed-user-image">
				<div class="feed-heading">
					<h2 class="feed-name">Bob Iannucci</h2>
					<p class="feed-time">Posted 1 hour ago</p>
				</div>
			</a>
			<div>
				<p class="feed-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>			
		</div>
		<div class="feed-item"> 
			<a class="feed-top" href="jamesProfile.html.erb">
				<img src="assets/Jason.jpg" class="feed-user-image">
				<div class="feed-heading">
					<h2 class="feed-name">Jason Leng</h2>
					<p class="feed-time">Posted 2 hours ago</p>
				</div>
			</a>
			<div>
				<p class="feed-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>			
		</div>
		<div class="feed-item"> 
			<a class="feed-top" href="jamesProfile.html.erb">
				<img src="assets/Brian.jpg" class="feed-user-image">
				<div class="feed-heading">
					<h2 class="feed-name">Brian Bailey</h2>
					<p class="feed-time">Posted 2 hours ago</p>
				</div>
			</a>
			<div>
				<p class="feed-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>			
		</div>
	</div>
</div>