<!DOCTYPE html>
<html>
    <head>
    <title>SSN Needs 2</title>
	<link rel="stylesheet" href="SSN.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
    <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head>

<!-- Home -->
<div data-role="page">
    <div data-theme="b" data-role="header">
        <h3>SSN</h3>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            <li data-role="list-divider" role="heading">
            </li>
            <li data-theme="b">
                <a href="main.html.erb" data-transition="slide">
                    Medical
                </a>
            </li>
            <li data-theme="b">
                <a href="main.html.erb" data-transition="slide">
                    Hazardous Materials
                </a>
            </li>
            <li data-theme="b">
                <a href="main.html.erb" data-transition="slide">
                    Food and Water
                </a>
            </li>
            <li data-theme="b">
                <a href="main.html.erb" data-transition="slide">
                    Labor
                </a>
            </li>
            <li data-theme="b">
                <a href="main.html.erb" data-transition="slide">
                    Specialized Skills
                </a>
            </li>
        </ul>
    </div>
</div>