<!DOCTYPE html>
<html>
    <head>
    <title>SSN Needs</title>
	<link rel="stylesheet" href="SSN.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
    <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head>
<div data-role="page">
    <div data-theme="b" data-role="header">
        <h3>SSN</h3>
    </div>
    <div data-role="content" style="background-color: gray;">
        <div data-role="collapsible-set" data-theme="b" data-content-theme="b">
            <div data-role="collapsible" data-collapsed="true">
                <h3>
                    Medical
                </h3>
				<div class="feed-post feed-item feed-post-content"> 
					<div data-role="fieldcontain" class="feed-post-fieldcontain">
						<fieldset data-role="controlgroup" class="feed-post-fieldset">
							<textarea id="feedPost" placeholder="Type feed entry here"></textarea>
						</fieldset>
					</div>
					<a href="" data-role="button" data-theme="b">Post</a>
				</div>	
				<div class="first-feed-item feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/james.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">James Ricks</h2>
							<p class="feed-time">Posted 35 minutes ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>			
				</div>
				<div class="feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/victor.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">Victor Marmol</h2>
							<p class="feed-time">Posted 1 hour ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<img src="images/houseOnFire.jpg" class="feed-image"; </img>
				</div>
				<div class="feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/bob.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">Bob Iannucci</h2>
							<p class="feed-time">Posted 1 hour ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>			
				</div>
            </div>
            <div data-role="collapsible">
                <h3>
                    Hazardous Materials
                </h3>
				<div class="feed-post feed-item feed-post-content"> 
					<div data-role="fieldcontain" class="feed-post-fieldcontain">
						<fieldset data-role="controlgroup" class="feed-post-fieldset">
							<textarea id="feedPost" placeholder="Type feed entry here"></textarea>
						</fieldset>
					</div>
					<a href="" data-role="button" data-theme="b">Post</a>
				</div>
				<div class="first-feed-item feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/james.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">James Ricks</h2>
							<p class="feed-time">Posted 35 minutes ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>			
				</div>
				<div class="feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/victor.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">Victor Marmol</h2>
							<p class="feed-time">Posted 1 hour ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<img src="images/houseOnFire.jpg" class="feed-image"; </img>
				</div>
				<div class="feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/bob.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">Bob Iannucci</h2>
							<p class="feed-time">Posted 1 hour ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>			
				</div>
            </div>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Food and Water
                </h3>
				<div class="feed-post feed-item feed-post-content"> 
					<div data-role="fieldcontain" class="feed-post-fieldcontain">
						<fieldset data-role="controlgroup" class="feed-post-fieldset">
							<textarea id="feedPost" placeholder="Type feed entry here"></textarea>
						</fieldset>
					</div>
					<a href="" data-role="button" data-theme="b">Post</a>
				</div>
				<div class="first-feed-item feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/james.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">James Ricks</h2>
							<p class="feed-time">Posted 35 minutes ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>			
				</div>
				<div class="feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/victor.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">Victor Marmol</h2>
							<p class="feed-time">Posted 1 hour ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<img src="images/houseOnFire.jpg" class="feed-image"; </img>
				</div>
				<div class="feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/bob.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">Bob Iannucci</h2>
							<p class="feed-time">Posted 1 hour ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>			
				</div>
            </div>
            <div data-role="collapsible">
                <h3>
                    Labor
                </h3>
				<div class="feed-post feed-item feed-post-content"> 
					<div data-role="fieldcontain" class="feed-post-fieldcontain">
						<fieldset data-role="controlgroup" class="feed-post-fieldset">
							<textarea id="feedPost" placeholder="Type feed entry here"></textarea>
						</fieldset>
					</div>
					<a href="" data-role="button" data-theme="b">Post</a>
				</div>
				<div class="first-feed-item feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/james.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">James Ricks</h2>
							<p class="feed-time">Posted 35 minutes ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>			
				</div>
				<div class="feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/victor.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">Victor Marmol</h2>
							<p class="feed-time">Posted 1 hour ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<img src="images/houseOnFire.jpg" class="feed-image"; </img>
				</div>
				<div class="feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/bob.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">Bob Iannucci</h2>
							<p class="feed-time">Posted 1 hour ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>			
				</div>
            </div>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Specialized Skills
                </h3>
				<div class="feed-post feed-item feed-post-content"> 
					<div data-role="fieldcontain" class="feed-post-fieldcontain">
						<fieldset data-role="controlgroup" class="feed-post-fieldset">
							<textarea id="feedPost" placeholder="Type feed entry here"></textarea>
						</fieldset>
					</div>
					<a href="" data-role="button" data-theme="b">Post</a>
				</div>
				<div class="first-feed-item feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/james.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">James Ricks</h2>
							<p class="feed-time">Posted 35 minutes ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>			
				</div>
				<div class="feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/victor.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">Victor Marmol</h2>
							<p class="feed-time">Posted 1 hour ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<img src="images/houseOnFire.jpg" class="feed-image"; </img>
				</div>
				<div class="feed-item"> 
					<a class="feed-top" href="jamesProfile.html.erb">
						<img src="images/bob.jpg" class="feed-user-image">
						<div class="feed-heading">
							<h2 class="feed-name">Bob Iannucci</h2>
							<p class="feed-time">Posted 1 hour ago</p>
						</div>
					</a>
					<div>
						<p class="feed-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>			
				</div>
            </div>
        </div>
    </div>
</div>
