<% content_for :footer do %>
	<div data-role="navbar">
		<ul>
			<li><%= link_to "Post", new_post_path, :data => { :role => "button", :icon =>"post", :iconpos => "top", :transition => "slideup" } %></li>
            <li><%= link_to "Status", status_path, :data => { :role => "button", :icon =>"status", :iconpos => "top", :transition => "slideup", :id=>"status" } %></li>
			<li><%= link_to "Profile", current_user, :data => { :role => "button", :icon =>"profile", :iconpos => "top", :transition => "slideup" } %></li>
			<li><%= link_to "Settings", "#settingsDialog", :data => { :role => "button", :icon =>"settings", :iconpos => "top", :transition => "slideup" } %></li>
		</ul>
	</div>
<% end %>