<div class="feed-item">
  <a href="<%= organization_path(organization) %>"class="feed-header">
    <img src="<%= path %><%= organization.profile_pic %>" class="author-img"/>
    <h2 class="author-name"><%= organization.name %></h2>
  </a>
  <div class="feed-content ">
    <p class="feed-text">
      &nbsp;
    </p>
  </div>
</div>
