<div class="feed-item">
  <div class="feed-header">
    <%= image_tag "sample_neighborhood_logo.png", :class => "author-img" %>
    <h2 class="author-name"><%= organization.name %></h2>
  </div>
  <div class="feed-content ">
    <p class="feed-text">
      &nbsp;
    </p>
  </div>
</div>
