<div class="feed-item">
  <a href="<%= user_path(user) %>" class="feed-header">
    <img src="<%= path %><%= user.profile_pic %>" class="author-img"/>

    <h2 class="author-name"><%= user.name %></h2>
  </a>
  <div class="feed-content ">
    <p class="feed-text">
      &nbsp;
    </p>
  </div>
</div>
